.sort-container{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 10px;
}
.categories{
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
}
.sort{
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
}
h5{
    color: antiquewhite;
}